* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

header {
	position: relative;
	left: 0;
	top: 0;
	width: 1005;
	height: 80px;
}

.intro {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #009688;
	transition: 1s;
}

.logo-header {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}

.logo {
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
}

.logo.active {
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade {
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 0.5s;
}

.title-header {
	position: absolute;
	left: 5%;
	bottom: 1rem;
	font-size: 1.6rem;
}

.github-header {
	position: absolute;
	right: 5%;
	bottom: 1rem;
	font-size: 1.6rem;
}
/*
.dropbtn {
 background-color: #161616;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}
*/
.expand-indicator {
 height: 16px;
 width: 16px;
}
/*
.dropbtn:hover, .dropbtn:focus {
 background-color: #383838;
}

.dropdown {
 position: relative;
 display: inline-block;
 position: absolute;
 left: 5%
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #383838;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 height: 300px;
 overflow-y: scroll;
}

.dropdown-content a {
 color: white;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown-content a:hover {background-color: #161616}
*/
.show {display:block;}