* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

header {
	position: relative;
	left: 0;
	top: 0;
	width: 1005;
	height: 80px;
}

body {
	background-color:#FFFFFF;
	background-image: url("https://www.transparenttextures.com/patterns/tiny-grid.png");
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.intro {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	/* make sure this sits atop everything to avoid hiding and showing elements on a case by case basis */
	z-index: 3;
	background-color: #009688;
	transition: 1s;
}

.logo-header {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}

.logo {
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
}

.logo.active {
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade {
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 0.5s;
}

.title-header {
	position: absolute;
	left: 5%;
	bottom: 1rem;
	font-size: 1.6rem;
}

.github-header {
	position: absolute;
	right: 5%;
	bottom: 1rem;
	font-size: 1.6rem;
}

.expand-indicator {
 height: 16px;
 width: 16px;
}

.show {display:block;}
/*
svg {
	width:100%;
	height:100%;
}*/
/*
select {
	-webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}*/